<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("./partialViews/head", { mainTitle: language.mainTitle }); %>        
    </head>

    <body class="container pt-0">
        <%- include("./partialViews/adminPanelNavigation", { language: language, lastVisitedUrl: lastVisitedUrl, isLoggedIn: isLoggedIn, userRole: userRole }) %>



        <main>
            <form>
                <div class="form-group">
                  <label for="NameInput"><%= language.name %></label>
                  <input type="name" class="form-control" id="NameInput" placeholder=<%= language.enterCategoryName %>>
                </div>
                <div class="form-group">
                    <label for="LanguageSelect"><%= language.language %></label>
                    <select class="form-control" id="LanguageSelect">
                      <option><%= language.english %></option>
                      <option><%= language.polish %></option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="ParentCategory"><%= language.parentCategory %></label>
                    <select class="form-control" id="ParentCategory">
                      <option>None</option>
                    </select>
                </div>

                <button type="submit" class="btn btn-primary" onclick="">Submit</button>
              </form>
        </main>

        <%- include("./partialViews/footer", { language: language })%>        
        <%- include("./partialViews/bootstrapLibraries"); %>
    </body>
</html>