<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("./partialViews/head", { mainTitle: language.mainTitle }); %>
    </head>

    <body class="container pt-0">
        <%- include("./partialViews/navigation", { language: language, lastVisitedUrl: lastVisitedUrl }) %>

        <main>
            <% if (subforums.length === 0){ %>
                <h1><%= language.noForums %></h1>
            <% } else { %>
            <div class="container-fluid mt-5">
                <div class="row">
                    <div class="col-md-12">
                        <%- include("./partialViews/subforums", { subforums: subforums, parentCategoryName: parentCategoryName, threads: threads }); %>
                    </div>
                </div>
            </div>
            <% } %>
        </main>

        <%- include("./partialViews/footer", { language: language })%>
        <%- include("./partialViews/bootstrapLibraries"); %>
    </body>
</html>