<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("./partialViews/head", { mainTitle: language.mainTitle }); %>
    </head>

    <body class="container pt-0">
        <%- include("./partialViews/navigation", { language: language, lastVisitedUrl: lastVisitedUrl, isLoggedIn: isLoggedIn, userRole: userRole }) %>
        <%- include("./partialViews/messages", { language: language, errorMessage: errorMessage, noticeMessage: noticeMessage }) %>

        <main>
            <div class="container-fluid mt-5">
                <div class="row">
                    <h2><%= language.newMessage %></h2>
                    <div class="card mb-3 mt-4"></div>
                        <form action="<%= lastVisitedUrl %>" method="POST">
                            <div class="mb-3 col-7">
                                <label for="recipientUsername" class="form-label"><%= language.recipientUsername %></label>
                                <input type="text" class="form-control mb-3" name="recipientUsername" id="recipientUsername" placeholder="<%= language.recipientUsername %>" value="<%= recipientUsername || "" %>">
                                <label for="subject" class="form-label"><%= language.subject %></label>
                                <input type="text" class="form-control mb-3" name="subject" id="subject" placeholder="<%= language.subject %>" value="<%= subject || "" %>">
                                <textarea class="form-control" name="message" id="message" placeholder="<%= language.addMessageText %>" rows="4"><%= message || "" %></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary"><%= language.sendMessage %></button>
                        </form>
                    </div>
                </div>
            </div>
        </main>

        <%- include("./partialViews/footer", { language: language })%>
        <%- include("./partialViews/bootstrapLibraries"); %>
    </body>
</html>