<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("./partialViews/head", { mainTitle: language.mainTitle }); %>
    </head>

    <body class="container pt-0">
        <%- include("./partialViews/navigation", { language: language, lastVisitedUrl: lastVisitedUrl, isLoggedIn: isLoggedIn, userRole: userRole }) %>
        <%- include("./partialViews/messages", { language: language, errorMessage: errorMessage, noticeMessage: noticeMessage }) %>

        <main>
            <div class="container-fluid mt-5">
                <div class="row">
                    <h2><%= language.newPost %></h2>
                    <div class="card mb-3 mt-4"></div>
                        <form action="<%= lastVisitedUrl %>" method="POST">
                            <div class="mb-3 col-7">
                                <textarea class="form-control" name="post" id="post" placeholder="<%= language.addPostText %>" rows="4"></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary"><%= language.submitPost %></button>
                        </form>
                    </div>
                </div>
            </div>
        </main>

        <%- include("./partialViews/footer", { language: language })%>
        <%- include("./partialViews/bootstrapLibraries"); %>
    </body>
</html>