<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("./partialViews/head", { mainTitle: language.mainTitle }); %>
    </head>

    <body class="container pt-0">
        <%- include("./partialViews/navigation", { language: language, lastVisitedUrl: lastVisitedUrl, isLoggedIn: isLoggedIn, userRole: userRole }) %>
        <%- include("./partialViews/messages", { language: language, errorMessage: errorMessage, noticeMessage: noticeMessage }) %>

        <% if (receivedMessages != null) { %>
            <main>
                <div class="container-fluid mt-5">
                    <%- include("./partialViews/messageNavigation.ejs", { language: language }); %>
                    
                    <h2 class="mb-4"><%= language.receivedMessages %></h2>
                    
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card mb-3">
                                <div class="card-header pr-0 pl-0">
                                    <div class="row no-gutters align-items-center w-100">
                                        <div class="d-none d-md-block col-12 text-muted">
                                            <div class="row no-gutters align-items-center">
                                                <div class="col-6"><%= language.subject %></div>
                                                <div class="col-3"><%= language.sender %></div>
                                                <div class="col-2"><%= language.sentDate %></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <% receivedMessages.forEach(function(receivedMessage) { %>
                                    <%- include("./partialViews/receivedMessage", { receivedMessage: receivedMessage }) %>
                                <% }); %>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        <% } else { %>
            <main>
                <div class="container-fluid mt-5">
                    <%- include("./partialViews/messageNavigation.ejs", { language: language }); %>
                    
                    <h2 class="mb-4"><%= language.receivedMessages %></h2>
                </div>
            </main>
        <% } %>

        <%- include("./partialViews/footer", { language: language }) %>
        <%- include("./partialViews/bootstrapLibraries"); %>
    </body>
</html>