<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("./partialViews/head", { mainTitle: language.mainTitle }); %>
    </head>

    <body class="container pt-0">
        <%- include("./partialViews/navigation", { language: language, lastVisitedUrl: lastVisitedUrl, isLoggedIn: isLoggedIn, userRole: userRole }) %>

        <main>
            <% if (threads.length === 0){ %>
                <h1><%= language.noForums %></h1>

                <% if (isLoggedIn) { %>
                    <a href="<%= "/category/subforum/" + subforumIdentifier + "/newThread" %>" class="btn btn-primary mt-1 mb-3" role="button"><%= language.newThread %></a><br>
                <% } %>
            <% } else { %>
            <div class="container-fluid mt-5">
                <div class="row">
                    <div class="col-md-12">
                        <%- include("./partialViews/subforum", { threads: threads, parentSubforumName: parentSubforumName, posts: posts }); %>
                    </div>
                </div>

                <% if (isLoggedIn) { %>
                    <a href="<%= "/category/subforum/" + subforumIdentifier + "/newThread" %>" class="btn btn-primary mt-1 mb-3" role="button"><%= language.newThread %></a><br>
                <% } %>
            </div>
            <% } %>
        </main>

        <%- include("./partialViews/footer", { language: language })%>
        <%- include("./partialViews/bootstrapLibraries"); %>
    </body>
</html>