<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("./partialViews/head", { mainTitle: language.mainTitle }); %>
    </head>

    <body class="container pt-0">
        <%- include("./partialViews/navigation", { language: language, lastVisitedUrl: lastVisitedUrl, isLoggedIn: isLoggedIn, userRole: userRole }) %>
        <%- include("./partialViews/messages", { language: language, errorMessage: errorMessage, noticeMessage: noticeMessage }) %>

        <main>
            <div class="container-fluid mt-5">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="mb-4"><%= thread.Title %></h2>
                        <% posts.forEach(function(post) { %>
                            <div class="card mb-3 mt-3">
                                <%- include("./partialViews/post", { language: language, thread: thread, post: post, isLoggedIn: isLoggedIn }); %>
                            </div>
                            <% if (post.DiceRolls.length > 0) { %>
                                <%- include("./partialViews/diceRolls.ejs", { language: language, post: post }) %>
                            <% } %>
                        <% }); %>
                    </div>
                </div>
                <% if (isLoggedIn) { %>
                    <a href="<%= "/thread/" + thread.Identifier + "/newPost" %>" class="btn btn-primary mt-3 mb-3" role="button"><%= language.newPost %></a><br>
                <% } %>
                <span class="me-1"><%= language.pages %>: </span>
                <% for (i = 1; i <= numberOfPages; i++) { %>
                    <% if (currentPage == i) { %>
                        <span class="me-1" %>"><%= i %></span>
                    <% } else { %>
                        <a class="me-1" href="<%= "/thread/" + thread.Identifier + "/page/" + i %>"><%= i %></a>
                    <% } %>
                <% } %>
            </div>
        </main>

        <%- include("./partialViews/footer", { language: language })%>
        <%- include("./partialViews/bootstrapLibraries"); %>
    </body>
</html>