<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href=""><%= language.adminPanelTitle %></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navigation">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/"><%= language.forumPage %></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/addCategory"><%= language.addCategory %></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/addSubforum"><%= language.addSubforum %></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/changeUserRole"><%= language.changeUserRoleTitle %></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/removeCategory"><%= language.removeCategoryTitle %></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/removeSubforum"><%= language.removeSubforumTitle %></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/logOut"><%= language.logOut %></a>
                </li>
            </ul>
            <% if (language.description === "American English") { %>
                <a href=<%= "/pl?redirectTo=" + lastVisitedUrl %>>
                    <img class="me-3" style="width: 35px" src="/images/PolishFlag.svg" />
                </a>
            <% } else { %>
                <a href=<%= "/en-us?redirectTo=" + lastVisitedUrl %>>
                    <img class="me-3" style="width: 35px" src="/images/USAFlag.svg" />
                </a>
            <% } %>
        </div>
    </div>
</nav>
