<hr class="m-0">
<div class="card-body py-3">
    <div class="row no-gutters align-items-center">
        <div class="col">
            <a href="/user?identifier=<%= post.UserIdentifier %>"><%= post.Login %></a> <br>
            <%= "Nowoprzybyły" %> <br>
            <!--<%= language["rank" + post.RankIdentifier] %> <br>-->
        </div>
        <div class="col-10">
            <%= post.Content %> <br><br>
        </div>
    </div>
</div>