<div class="card mb-3">
    <div class="card-header pr-0 pl-0">
        <div class="row no-gutters align-items-center w-100">
            <div class="col font-weight-bold pl-3"><%= parentCategoryName[0].Nazwa %></div>
            <div class="d-none d-md-block col-6 text-muted">
                <div class="row no-gutters align-items-center">
                    <div class="col-5"><%= language.threads %></div>
                    <div class="col-6"><%= language.created %></div>
                </div>
            </div>
        </div>
    </div>
    <% subforums.forEach(function(subforum) { %>
        <% var number = 0; %>
        <% threads.forEach(function(thread) { %>
            <% if(thread.IdSubforum === subforum.IdSubforum) { %>
                <% number = thread.ThreadCount; %>
            <% } %>
        <% }); %> 
        <%- include("./childSubforum.ejs", { subforum: subforum, threadNumber: number }); %>
    <% }); %> 
    
    <% categories.forEach(function(category) { %>
        <% var number = 0; %>
        <% threadsCategories.forEach(function(thread) { %>
            <% if(thread.IdCategory === category.IdKategoria) { %>
                <% number = thread.ThreadCount; %>
            <% } %>
        <% }); %> 
        <%- include("./childCategory2.ejs", { category: category, threadNumber: number }); %>
    <% }); %> 
</div>